<!DOCTYPE html><html><head>

 <title> Creditos </title>
 <link rel='sytlesheet' href='/stylesheets/style.css' />
 <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
 </head>
 <body>
 <h1>Créditos</h1>
 <p>pagina creada por:</p>
 <p>Odei Barcos castera</p>
 <img src="images/odei.jpg" alt="/Odei"/>
 </body>
 </html>
 
