<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico" type="imagen/x-icon" />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>El portal donde podra crear sus propios juegos!</p>

    <p><a href="/quizzes">Comience a jugar</a></p>
    
  </body>
</html>
