
<link rel="icon" href="/favicon.ico" type="imagen/x-icon" />
<link rel='stylesheet' href='/stylesheets/style.css' />
<table>
	
 <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
     </tr> 

  <% } %>


</table>
